<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
     
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>    
    <property name="hibernate.connection.url">jdbc:oracle:thin:@dilbert.humber.ca:1521:grok</property>
    <property name="hibernate.connection.pool_size">2</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.username">n01043708</property>
    <property name="hibernate.connection.password">oracle</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="org.hibernate.tutorial.annotations.Event"/>
    
  </session-factory>
</hibernate-configuration>
